---
layout: default
title: Paris 2018
permalink: /events/paris2018/
event_date: 2018-12-11
event_date_string: December 11th-13th 2018
event_location: Paris, France
event_summary: A three-day workshop to continue and grow the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p>{{ page.event_date_string }}.</p>
<p>{{ page.event_summary }}</p>
<p>As a follow up to the three previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | prepend: site.baseurl }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | prepend: site.baseurl }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | prepend: site.baseurl }}">Berlin 2017</a>,
  the reproducible builds folks met again in Paris.
</p>

<h2>Goals</h2>
<p>
  The exact content of the meeting was shaped by the participants, 
  these were the main goals:
</p>
<ul>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Work together and hack on solutions.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling end-users to get the most benefits from reproducible builds.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>

<h2>Participants</h2>
<p>
  There were participants from Alpine Linux, Arch linux, bootstrappable.org, Bazel, coreboot, Debian, F-Droid, Google, GNU Guix, GNU Mes, Huawei, IPFS, in-toto, Microsoft, MirageOS, NetBSD, NixOS, openSUSE, OpenWrt, pantsbuild.org, Qubes OS, Tails, Tor Project, and more&hellip;
  <br />
</p>
<img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws4_paris_2018_small.png" | prepend: site.baseurl }}" alt="Reproducible Summit 4 in Paris 2018"/>

<h2>Reports</h2>

<p>
  <ul>A number of reports have been published:
    <li><a href="{{ "/events/paris2018/report/" | prepend: site.baseurl }}"> Meeting report by Aspiration</a> (HTML version)</li>
    <li><a href="/files/ReproducibleSummit4EventDocumentation.pdf">Meeting report by Aspiration</a> (PDF version)</li>
    <li>Bernhard Wiedermann wrote <a href="https://lizards.opensuse.org/2018/12/17/report-from-the-reproducible-builds-summit-2018/">a report on his experience</a>.</li>
    <li>Jelle van der Waa published a blog post with <a href="https://vdwaa.nl/arch-reproducible-build-summit-18.html#arch-reproducible-build-summit-18">a brief report of the event from an Arch Linux perspective</a>.</li>
    <li><a href="https://discourse.nixos.org/t/reproducible-builds-summit-report/1683/2">reports from the Nix developers</a> zimbatm, Profpatsch and lewo.</a></li>
    <li>Lukas Pühringer posted a report from the <a href="https://ssl.engineering.nyu.edu/blog/2019-01-18-in-toto-paris">in-toto project's participation</a>.</li>
  </ul>
</p>

<h2>Location</h2>

<p>
  <a href="https://wiki.mozilla.org/Paris">Mozilla Office, Paris, France</a>
</p>

<p><img src="/images/paris2018/salle-des-fetes.jpg" /></p>

<p>16bis Boulevard Montmartre<br />
75009 Paris, France<br />
   Nearest metro stations: Grands Boulevards or Richelieu-Drouot
</p>

<h2>Schedule</h2>
<p>
  The summit was held from 10 AM until 6 PM on December 11th to 13th 2018. <!-- until 5 PM on the 13th -->
</p>

<h2>Registration</h2>
<p>
  Registration is <b>closed</b> for attending this event. Please don't send a short email to <a href="mailto:holger@layer-acht.org">holger@layer-acht.org</a><strike> and state that you want to attend, possibly shortly stating your involvement or other reasons why. Also make sure to tell your food preference and your t-shirt size, should you want to receive one</strike>.
</p>

<h2>Code of Conduct</h2>
<p>
  This event was run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Co-organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | prepend: site.baseurl }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Nicolas, Vagrant, Chris and Mattia

<h2>Sponsors</h2>

<p>
  <a href="https://www.mozilla.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/mozilla.png" | prepend: site.baseurl }}" alt="Mozilla Paris" /></a>
  <br />
  <a href="https://www.fordfoundation.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/fordfoundation.png" | prepend: site.baseurl }}" alt="Ford Foundation" /></a>
  <br />
  <a href="https://opentech.fund/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/opentechfund.png" | prepend: site.baseurl }}" alt="Open Technology Fund"/></a>
  <br />
  <a href="https://opensource.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | prepend: site.baseurl }}" alt="Google Open Source Research" /></a>
  <br />
  <a href="https://www.debian.org/"><img style="margin-top: 15px; vertical-align: top;" src="{{ "/images/logos/debian.png" | prepend: site.baseurl }}" alt="Debian"></a>
  <br />
  <a href="https://protocol.ai/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/protocol-labs.png" | prepend: site.baseurl }}" alt="Protocol Labs"></a>
  <!-- a href="https://www.coreinfrastructure.org/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/cii.png" | prepend: site.baseurl }}" alt="Core Infrastructure Initiative" /></a -->
</p>
